@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed:400,400i,700,700i,900,900i|Josefin+Sans");
body,
html,
div,
section,
p {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  color: #505050;
  font-family: "Barlow Condensed", "Helvetica", sans-serif;
}

h1 {
  font-family: "Barlow Condensed", "Helvetica", sans-serif;
  font-weight: 900;
  font-style: italic;
  margin: 0;
  padding: 0;
}

button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #D43A4C;
  background-color: transparent;
  padding: .5rem 2.5rem;
  font-family: "Barlow Condensed", "Helvetica", sans-serif;
  font-weight: 400;
  color: #D43A4C;
  -webkit-transition: all 1s;
  transition: all 1s;
  margin: 0;
}

button:hover {
  color: #ffffff;
  border: 0;
  background-color: #D43A4C;
}

header {
  width: 100vw;
  height: 100px;
  z-index: 99;
  position: fixed;
  background-color: white;
}

header #menu-bar {
  margin: 0 23.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  text-align: center;
  color: #505050;
}

header #menu-bar span {
  width: 3rem;
  height: 1px;
}

header #menu-bar .nav-options {
  font-size: 20px;
}

header #menu-bar .essential {
  font-size: 30px;
  font-weight: 700;
}

#banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  padding: 1rem 10rem;
}

#banner .title-container {
  padding-top: 5rem;
}

#banner .title-container h1 {
  padding-top: 3rem;
  font-size: 190px;
  color: #505050;
}

#banner .title-container #title-animation {
  position: relative;
  -webkit-transition: all ease-out .5s;
  transition: all ease-out .5s;
}

#banner .title-container #title-animation span {
  background-color: #FFE4D8;
  -webkit-transition: all ease-out .2s;
  transition: all ease-out .2s;
}

#banner .title-container #title-animation span:hover {
  opacity: 0;
}

#banner .title-container #title-animation::after {
  content: attr(data-hover);
  position: absolute;
  left: 0;
  width: 100%;
  text-align: left;
  opacity: 0;
  background-color: #D43A4C;
  color: #ffffff;
  -webkit-transform: translate(-150%, 0);
          transform: translate(-150%, 0);
  -webkit-transition: all ease-out .5s;
  transition: all ease-out .5s;
}

#banner .title-container #title-animation:hover::after {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

#banner .title-container button {
  margin-top: 4rem;
  font-size: 1.5rem;
}

#banner .images-container {
  z-index: 98;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

#banner .images-container img {
  width: 25rem;
  height: 25rem;
  position: absolute;
  right: 10rem;
  bottom: -10rem;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#banner .images-container img:hover {
  -webkit-transform: translate(15%, -15%);
          transform: translate(15%, -15%);
}

#banner .images-container #img2 {
  right: 5rem;
  bottom: -2.5rem;
}

#banner .images-container #img1 {
  right: -0rem;
  bottom: 5rem;
}

#info {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

#info #promo {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  background-color: #FFF6EB;
}

#info #carac {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFE4D8;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#info #carac .caracts {
  width: 20%;
  background: #D43A4C;
}

#best-of-day {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 99vw;
  height: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5% 15%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  background-color: #ffffff;
}

#best-of-day .cover {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
  margin: 3%;
  width: 20%;
  height: 480px;
  background-size: cover;
  background-position: center;
}

#best-of-day .cover:not(.info):hover {
  border: #D43A4C solid 5px;
}

#best-of-day .cover:not(.info):hover .play-icon {
  visibility: visible;
}

#best-of-day .cover .play-icon {
  visibility: hidden;
  margin: 190px auto;
  width: 80px;
  height: 80px;
  background-image: url("./icons/play.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#best-of-day .playing {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
  margin: 3%;
  width: 20%;
  height: 480px;
  background-size: cover;
  background-position: center;
  border: #D43A4C solid 10px;
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

#best-of-day .playing .play-icon {
  visibility: visible;
  margin: 190px auto;
  width: 80px;
  height: 80px;
  background-image: url("./icons/play.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#best-of-day .info {
  text-align: center;
  font-size: 2rem;
  color: #505050;
  background-color: transparent;
}

#best-of-day .info h1 {
  margin-top: 25%;
}

#best-of-day .info button {
  margin-top: 5%;
  font-size: 1rem;
}

#galery {
  width: 100%;
  height: 100vh;
  background-color: #FFE4D8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#galery #lorde {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-image: url("./images/9.jpg");
  background-size: cover;
}

#galery #else {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

#galery #else #flume {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-image: url("./images/3.jpg");
  background-size: cover;
  background-position-y: 50%;
}

#galery #else #else-2 {
  -webkit-box-flex: 1.2;
      -ms-flex: 1.2;
          flex: 1.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#galery #else #else-2 #every {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-image: url("./images/5.jpg");
  background-size: cover;
}

#galery #else #else-2 #tame {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-image: url("./images/10.jpg");
  background-size: cover;
}

#galery .album {
  position: relative;
  -webkit-transition: all .3s .1s;
  transition: all .3s .1s;
}

#galery .album::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  -webkit-transition: all .3s .1s;
  transition: all .3s .1s;
  -webkit-filter: opacity(1);
          filter: opacity(1);
}

#galery .album:hover {
  -webkit-filter: blur(5px) brightness(1.2);
          filter: blur(5px) brightness(1.2);
}

#galery .album:hover::after {
  background-color: #ffffff;
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
}

#main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40vh;
  background-color: #202020;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

#main-footer #legal {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#main-footer #legal p {
  color: #ffffff;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 400;
}

#main-footer #newsletter {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

#main-footer #newsletter label {
  width: 100%;
}

#main-footer #newsletter label p {
  font-weight: 400;
  font-style: italic;
  font-size: 1.5rem;
  text-align: center;
  color: #ffffff;
  margin-bottom: 2rem;
}

#main-footer #newsletter label input {
  border: 2px solid #D43A4C;
  background-color: transparent;
  width: 15rem;
  margin-left: 20%;
  padding: .5rem;
  font-family: "Barlow Condensed", "Helvetica", sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 1rem;
  border-color: #ffffff;
}

#main-footer #newsletter label button {
  font-size: 1rem;
  color: #ffffff;
  border-color: #ffffff;
}

#main-footer #redes {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
}

#main-footer #redes img {
  width: 50px;
  height: 50px;
  fill: #ffffff;
}
/*# sourceMappingURL=main.css.map */